In [20]:
import pandas as pd
import json

In [2]:
data = pd.read_csv('../data/mfp-diaries.tsv',sep='\t',header=None,chunksize=20000)

In [3]:
data.columns =['user','date','food_entries','summary']

In [17]:
ex_chunk = data.get_chunk(20)

In [28]:
ex_chunk

,0,1,2,3
32,1,2014-10-17,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2516}..."
33,1,2014-10-18,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 3373}..."
34,1,2014-10-19,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 3105}..."
35,1,2014-10-20,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 3218}..."
36,1,2014-10-21,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2430}..."
37,1,2014-10-22,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 1695}..."
38,1,2014-10-23,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2075}..."
39,1,2014-10-24,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2005}..."
40,1,2014-10-25,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2208}..."
41,1,2014-10-26,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2295}..."
42,1,2014-10-27,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 1772}..."
43,1,2014-10-28,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 1740}..."
44,1,2014-10-29,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 1827}..."
45,1,2014-10-30,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2156}..."
46,1,2014-10-31,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 1944}..."
47,1,2014-11-01,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2943}..."
48,1,2014-11-07,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2738}..."
49,1,2014-11-08,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2428}..."
50,1,2014-11-09,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2525}..."
51,1,2014-11-10,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 1399}..."

In [29]:
json.loads(ex_chunk.loc[32,3])

{'goal': [{'name': 'Calories', 'value': 1678},
  {'name': 'Carbs', 'value': 209},
  {'name': 'Fat', 'value': 56},
  {'name': 'Protein', 'value': 85},
  {'name': 'Sodium', 'value': 2300},
  {'name': 'Sugar', 'value': 63}],
 'total': [{'name': 'Calories', 'value': 2516},
  {'name': 'Carbs', 'value': 237},
  {'name': 'Fat', 'value': 97},
  {'name': 'Protein', 'value': 154},
  {'name': 'Sodium', 'value': 2999},
  {'name': 'Sugar', 'value': 84}]}